<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">

        {{>header}}
        <p>this site is created by waqar ahmad, Ut uses data from mapnox.com and weatherstact.com !</p>

        <img class="portrait" src="/img/1.png" alt="">
    </div>

    {{>footer}}

</body>

</html>